/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #013220; /* Dark green background */
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 4rem 1rem;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}


h3 {
    margin-top: -20px;
    margin-bottom: 30px;
}

.btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #3e8e41;
}

/* Responsive Menu */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links.open {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}